<div class="home-competencias">
  <h1>Gestión Competencias</h1>
  <img src="https://placehold.co/1300x200" alt="Banner" class="banner">

  <app-titulo-seccion [title]="'Disciplinas'"></app-titulo-seccion>
  <div class="cards-container">
    <app-card-disciplina *ngFor="let disciplina of disciplinas" [name]="disciplina.name" [image]="disciplina.image"></app-card-disciplina>
  </div>

  <app-titulo-seccion [title]="'Competencias'"></app-titulo-seccion>
  <div class="cards-container">
    <app-card-competencia *ngFor="let competencia of competencias" [name]="competencia.name" [image]="competencia.image"></app-card-competencia>
  </div>

  <app-titulo-seccion [title]="'Equipos'"></app-titulo-seccion>
  <div class="cards-container">
    <app-card-equipo *ngFor="let equipo of equipos" [name]="equipo.name" [image]="equipo.image"></app-card-equipo>
  </div>

  <app-titulo-seccion [title]="'Jugadores'"></app-titulo-seccion>
  <div class="cards-container">
    <app-card-jugador *ngFor="let jugador of jugadores" [name]="jugador.name" [image]="jugador.image"></app-card-jugador>
  </div>
</div>
