<div>
  <mat-toolbar>
    <mat-chip (click)="filterStats('all')" [ngClass]="{'selected-chip': currentStats.includes('all')}">Todo</mat-chip>
    <mat-chip (click)="filterStats('goals')" [ngClass]="{'selected-chip': currentStats.includes('goals')}">Goles</mat-chip>
    <mat-chip (click)="filterStats('assists')" [ngClass]="{'selected-chip': currentStats.includes('assists')}">Asistencias</mat-chip>
    <mat-chip (click)="filterStats('yellowCards')" [ngClass]="{'selected-chip': currentStats.includes('yellowCards')}">Tarjetas Amarillas</mat-chip>
    <mat-chip (click)="filterStats('redCards')" [ngClass]="{'selected-chip': currentStats.includes('redCards')}">Tarjetas Rojas</mat-chip>
  </mat-toolbar>
</div>

<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<table mat-table [dataSource]="filteredStats" class="mat-elevation-z8 custom-table" *ngIf="!isLoading && !errorMessage">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Posición </th>
    <td mat-cell *matCellDef="let player; let i = index"> {{ i + 1 }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Jugador </th>
    <td mat-cell *matCellDef="let player"> {{ player.name }} </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Equipo </th>
    <td mat-cell *matCellDef="let player">
      <img [src]="player.teamLogo" [alt]="player.team" class="team-logo" (error)="player.teamLogo = 'https://via.placeholder.com/30'">
      {{ player.team }}
    </td>
  </ng-container>

  <ng-container *ngFor="let stat of ['goals', 'assists', 'yellowCards', 'redCards']" [matColumnDef]="stat">
    <th mat-header-cell *matHeaderCellDef> {{ stat | titlecase }} </th>
    <td mat-cell *matCellDef="let player"> {{ player[stat] }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>