<mat-card>
    <br>
    <mat-card-title class="form-title">Agregar Equipo</mat-card-title>
    <form #equipoForm="ngForm">
      <div class="form-container">

         <br>
        <mat-form-field appearance="outline" style="width: 540px; padding-left: 30px;">
          <mat-label>Nombre</mat-label> 
          <input matInput placeholder="Ingresa el nombre" name="nombre" [(ngModel)]="nombre" required>
          <mat-error *ngIf="equipoForm.controls['nombre']?.invalid && equipoForm.controls['nombre']?.touched">
            Nombre es requerido.
          </mat-error>
        </mat-form-field>
  

        <mat-form-field appearance="outline" style="width: 540px; padding-left: 30px;">
          <mat-label>Fecha de Fundación</mat-label>
          <input matInput [matDatepicker]="startDate" placeholder="Seleccione la fecha" [(ngModel)]="fechaFundacion" name="fechaInicio" required>
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
          <mat-error *ngIf="equipoForm.controls['fechaInicio']?.invalid && equipoForm.controls['fechaInicio']?.touched">
            Fecha de Fundación es requerida.
          </mat-error>
        </mat-form-field>
  

        <mat-form-field appearance="outline" style="width: 540px; padding-left: 30px; padding-right:30px ;">
          <mat-label>País</mat-label>
          <mat-select placeholder="Seleccione el país" [(ngModel)]="pais" name="pais" required>
            <mat-option value="Ecuador">Ecuador</mat-option>
            <mat-option value="Brazil">Brazil</mat-option>
            <mat-option value="Colombia">Colombia</mat-option>
            <mat-option value="Argentina">Argentina</mat-option>
            <mat-option value="Chile">Chile</mat-option>
            <mat-option value="Peru">Peru</mat-option>
            <mat-option value="Uruguay">Uruguay</mat-option>
            <mat-option value="Paraguay">Paraguay</mat-option>
          </mat-select>
          <mat-error *ngIf="equipoForm.controls['pais']?.invalid && equipoForm.controls['pais']?.touched">
            País es requerido.
          </mat-error>
        </mat-form-field>
  

        <mat-form-field appearance="outline" style="width: 540px; padding-left: 30px; padding-right:30px ;" >
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Ingresa el teléfono" name="telefono" [(ngModel)]="telefono" required>
            <mat-error *ngIf="equipoForm.controls['telefono']?.invalid && equipoForm.controls['telefono']?.touched">
                Telefono es requerido
              </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 540px; padding-left: 30px; padding-right:30px ;" >
            <mat-label>Correo Electronico</mat-label>
            <input matInput placeholder="Ingresa el correo electronico" name="correoElectronico" [(ngModel)]="correoElectronico" required>
            <mat-error *ngIf="equipoForm.controls['correoElectronico']?.invalid && equipoForm.controls['correoElectronico']?.touched">
                Correo es requerido.
              </mat-error>
        </mat-form-field>

      </div>
    </form>
    <div class="button-row" style="padding-left: 30px; padding-right:30px ;" >

        <button mat-raised-button color="primary" class="full-width save-button" (click)="guardar()" style="width: 200px;">
            <mat-icon>save</mat-icon> Guardar
          </button>

        <button mat-raised-button color="warn" (click)="resetForm()" style="width: 200px;">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>

    </div>
  </mat-card>
  