<mat-table [dataSource]="groups" class="mat-elevation-z8">
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> N </mat-header-cell>
        <mat-cell *matCellDef="let group; let i = index"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
        <mat-cell *matCellDef="let group"> {{group.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let group"> {{group.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parentCode">
        <mat-header-cell *matHeaderCellDef> Código Padre </mat-header-cell>
        <mat-cell *matCellDef="let group"> {{group.parentCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let group">
            <button mat-icon-button (click)="selectGroup(group)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteGroup(group)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['index', 'code', 'name', 'parentCode', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['index', 'code', 'name', 'parentCode', 'actions'];"></mat-row>
</mat-table>
