<h3>Selecciona Torneos</h3>
<section class="torneos-section">
    <ul>
        <li *ngFor="let torneo of torneos">
            <mat-checkbox (change)="toggleTorneo(torneo)">
                {{ torneo.name ? torneo.name : torneo.fecha }}
            </mat-checkbox>
        </li>
    </ul>
    <div class="boton-container">
        <button mat-stroked-button color="primary" class="full-width save-button" (click)="confirmarSeleccion()">
            <mat-icon>check</mat-icon> Confirmar Selección
        </button>
    </div>
</section>