<!-- partido-modal.component.html -->
<div class="modal">
    <div class="modal-content">
      <h2>Estadísticas del Partido</h2>
      <div class="team-stats">
        <div class="team">
          <h3>Equipo 1</h3>
          <div class="stat">
            <label>Posesión: {{ team1.possession }}%</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team1.possession + '%' }"></div>
            </div>
          </div>
          <div class="stat">
            <label>Goles: {{ team1.goals }}</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team1.goals * 10 + '%' }"></div>
            </div>
          </div>
          <div class="stat">
            <label>Tiros: {{ team1.shots }}</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team1.shots * 10 + '%' }"></div>
            </div>
          </div>
          <div class="stat">
            <label>Faltas: {{ team1.fouls }}</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team1.fouls * 10 + '%' }"></div>
            </div>
          </div>
        </div>
        <div class="team">
          <h3>Equipo 2</h3>
          <div class="stat">
            <label>Posesión: {{ team2.possession }}%</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team2.possession + '%' }"></div>
            </div>
          </div>
          <div class="stat">
            <label>Goles: {{ team2.goals }}</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team2.goals * 10 + '%' }"></div>
            </div>
          </div>
          <div class="stat">
            <label>Tiros: {{ team2.shots }}</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team2.shots * 10 + '%' }"></div>
            </div>
          </div>
          <div class="stat">
            <label>Faltas: {{ team2.fouls }}</label>
            <div class="progress-bar">
              <div class="progress" [ngStyle]="{ 'width': team2.fouls * 10 + '%' }"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="player" *ngFor="let player of team1.lineup" [ngClass]="player.position" [ngStyle]="{ 'background-color': player.color }">{{ player.name }}</div>
        <div class="player" *ngFor="let player of team2.lineup" [ngClass]="player.position + '-opponent'" [ngStyle]="{ 'background-color': player.color }">{{ player.name }}</div>
      </div>
    </div>
  </div>