<div class="contenedor-principal">
    <div class="container">
        <div class="equipo-form">
            <h1>
                Agregar Equipos
            </h1>
            <div style="display: flex; justify-content: flex-end;">
                <button mat-stroked-button color="primary" (click)="abrirDialogo()">
                    <mat-icon>add</mat-icon> Agregar Torneo
                </button>

            </div>
            <br>

            <mat-card *ngIf="equipos.length > 0">
                <mat-card-title style="align-content: center;">Lista de Equipos Guardados</mat-card-title>
                <table mat-table [dataSource]="equipos" class="mat-elevation-z8">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let equipo"> {{equipo.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaFundacion">
                        <th mat-header-cell *matHeaderCellDef> Fecha de Fundación </th>
                        <td mat-cell *matCellDef="let equipo"> {{equipo.fechaFundacion | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="pais">
                        <th mat-header-cell *matHeaderCellDef> País </th>
                        <td mat-cell *matCellDef="let equipo"> {{equipo.pais}} </td>
                    </ng-container>

                    <ng-container matColumnDef="correoElectronico">
                        <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
                        <td mat-cell *matCellDef="let equipo"> {{equipo.correoElectronico}} </td>
                    </ng-container>

                    <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                        <td mat-cell *matCellDef="let equipo"> {{equipo.telefono}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let equipo">
                            <div style="display: flex; gap: 8px; justify-content: center;">
                                <button mat-stroked-button color="warn">
                                    <mat-icon>cancel</mat-icon> Eliminar
                                </button>
                                <button mat-stroked-button color="primary">
                                    <mat-icon>edit</mat-icon> Editar
                                </button>
                                <button mat-stroked-button color="primary" (click)="abrirDialogoTorneos()">
                                    <mat-icon>add</mat-icon> Agregar Torneo
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="torneos">
                        <th mat-header-cell *matHeaderCellDef> Torneos </th>
                        <td mat-cell *matCellDef="let equipo"> {{ equipo.torneos?.join(', ') || 'N/A' }} </td>
                      </ng-container>
                      


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>

        </div>
    </div>
</div>