/* Contenedor principal */
.player-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

/* Estilo de la información del jugador */
.team-info {
  //width: 30%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.edit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Tabla de detalles del equipo */
.team-details {
  //width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td:first-child {
  font-weight: bold;
}

.example-small-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  //height: 300px;
  //width: 300px;
  height: auto;
  width: auto;
}

.data-equipo:disabled {
  background-color: transparent;
  border: none;
  color: #000;
}

.edit-button {
  margin-top: 10px;
}

.team-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.oculto{
  display: none;
  align-items: center;
}


