<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="sections">
        <div class="section">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Catalogs</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Administrar los catalogos Aqui</p>
                    <!-- Add more content for catalogs as needed -->
                </mat-card-content>
                <mat-card-actions>
                    <a mat-flat-button [routerLink]="['catalogs']">Ir a Catalogs</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="section">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Groups</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Adminsitrar los grupos aqui.</p>
                    <!-- Add more content for groups as needed -->
                </mat-card-content>
                <mat-card-actions>
                    <a mat-flat-button [routerLink]="['groups']">Ir a Grupos</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
