<div id="subtitulo">
    <mat-icon mat-list-icon>list</mat-icon>
    <h5>Jugadores</h5>
</div>

<div class="container mt-4">
    <div class="row">

        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-jugador">
                        <mat-card-title>Barcelona</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilJugador()" class="view-jugador"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-barcelona-logo-png-0.png"
                             alt="Barcelona" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>Equipo:</strong> Barcelona</p>
                            <p><strong>Entrenador:</strong> Hansi Flick</p>
                            <p><strong>Posición:</strong> Delantero</p>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <div class="header-jugador">
                        <mat-card-title>Liverpool</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilJugador()" class="view-jugador"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/liverpool-logo-png-25.png"
                             alt="Liverpool" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>Equipo:</strong> Liverpool</p>
                            <p><strong>Entrenador:</strong> Arne Slot</p>
                            <p><strong>Categoría:</strong> Defensa</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-jugador">
                        <mat-card-title>Real Madrid</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilJugador()" class="view-jugador"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/real-madrid-logo-png/real-madrid-logo-real-madrid-kits-dream-league-soccer-fts-kuchalana-4.png"
                             alt="Real Madrid" class="me-3" width="80" height="80" />
                        <div class="card-body">

                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>Equipo:</strong> Real Madrid</p>
                            <p><strong>Entrenador:</strong> Carlo Ancelotti</p>
                            <p><strong>Categoría:</strong> Extremo Derecho</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-jugador">
                        <mat-card-title>Manchester United</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilJugador()" class="view-jugador"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/manchester-united-logo-png/manchester-united-logo-manchester-united-football-club-december-15.png"
                             alt="Atlético" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>Equipo:</strong> Manchester United</p>
                            <p><strong>Entrenador:</strong> Erik ten Hag</p>
                            <p><strong>Posición:</strong> Mediocampista</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>



