<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<h4>Catálogos</h4>
<div>
    <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Buscar..." />
        <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>
<div>
    <mat-list>
        <!-- Aquí se cargarán los registros de catálogos -->
        <mat-list-item *ngFor="let catalog of catalogs">{{ catalog }}</mat-list-item>
    </mat-list>
</div>
<p>catalogs works!</p>
