<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4">

      <div class="team-info">
        <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-barcelona-logo-png-0.png"
          alt="Barcelona Logo" class="team-logo" />
        <h2>Barcelona</h2>
        <p><strong>Entrenador: </strong> Hansi Flick</p>
        <p><strong>Pais de Origen:</strong> España</p>
        <p><strong>Fecha de Creacionn:</strong> 10/07/1928</p>
        <button (click)="modificarEquipo()" class="edit-button">Modificar</button>
      </div>
    </div>

    <div class="col-md-8 mb-4">

      <div class="team-details">
        <table>
          <tr>
            <td><strong>Nombre del Equipo</strong></td>
            <td><input type="text" value="FC Barcelona" class="data-equipo form-control"
              [disabled]="!modoEdicion" /></td>
          </tr>
          <tr>
            <td><strong>Entrenador</strong></td>
            <td><input type="text" value="Hansi Flick" class="data-equipo form-control"
              [disabled]="!modoEdicion" /></td>
          </tr>
          <tr>
            <td><strong>Pais de Origen</strong></td>
            <td><input type="text" value="España" class="data-equipo form-control"
              [disabled]="!modoEdicion" /></td>
          </tr>
          <tr>
            <td><strong>Fecha de Creación</strong></td>
            <td><input type="text" value="10 de Julio de 1928" class="data-equipo form-control"
              [disabled]="!modoEdicion" /></td>
          </tr>
        </table>

        <div class="mt-3" [class.oculto]="!modoEdicion" style="align-items: center;">
          <button class="btn btn-success me-2" (click)="guardarCambios()">Guardar</button>
          <button class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        </div>

      </div>

      <mat-tab-group dynamicHeight>
        <mat-tab label="Estadísticas detalladas">
          <div class="example-small-box mat-elevation-z4">
            Aquí estaran las estadisticas del Equipo
          </div>
        </mat-tab>
        <mat-tab label="Historial de Partidos">
          <div class="example-small-box mat-elevation-z4">
            El modulo de partidos lo proporcionará
          </div>
        </mat-tab>
        <mat-tab label="Rendimiento en Competencias">
          <div class="example-small-box mat-elevation-z4">
            Se recibiran las estadísticas del módulo respectivo
          </div>
        </mat-tab>
          <mat-tab label="Competencias a participar">
          <div class="example-small-box mat-elevation-z4">
            Aquí estaran los torneos del equipo
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
