.matches {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.team {
  display: flex;
  align-items: center;
}

.team-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.match-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-info span {
  font-size: 1em;
  color: #343a40;
}