<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tabla Centrando</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.24/angular-material.min.css">
        <style>
            .ventana {
                margin: 20px;
            }
            .tabs {
                display: flex;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
            }
            .tab {
                padding: 10px 20px;
                cursor: pointer;
                border: 1px solid #ccc;
                border-bottom: none;
                margin-right: 5px;
                background: #f1f1f1;
            }
            .tab.active {
                background: white;
                font-weight: bold;
                border-top: 2px solid blue;
            }
            .logos {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .logos img {
                width: 60px; /* Ajusta el tamaño de los logos */
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <div class="ventana">
            <h1>Tabla de partidos</h1>

            <!-- Pestañas -->
            <div class="tabs">
                <div class="tab active">Lastest Match</div>
                <div class="tab">Proximos partidos</div>
                <div class="tab">Partidos en vivo</div>
            </div>

            <table mat-table cellspacing="0" cellpadding="10">
                <tr>
                    <td>
                        <div class="equipo">
                            <img
                                mat-card-avatar
                                src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/47/FC_Barcelona_%28crest%29.svg/1010px-FC_Barcelona_%28crest%29.svg.png"
                                alt="Avatar"
                                class="escudo"
                            />
                            <span>Barcelona</span>
                        </div>
                    </td>
                    <td>
                        <div class="puntaje">
                            <span class="puntaje-equipo1">1</span> -
                            <span class="puntaje-equipo2">2</span>
                        </div>
                    </td>
                    <td>
                        <div class="equipo">
                            <span>Real Madrid</span>
                            <img
                                mat-card-avatar
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSio-11HoAAZ8E1MjY4T58wPtrb3CKzyh_r1Q&s"
                                alt="Avatar"
                                class="escudo"
                            />
                        </div>
                    </td>
                    <td>
                        <span>Estadio Monumental</span>
                    </td>
                    <td>
                        <span>2024-10-22</span>
                    </td>
                    <td>
                        <span>18:00</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo">
                            <img
                                mat-card-avatar
                                src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/47/FC_Barcelona_%28crest%29.svg/1010px-FC_Barcelona_%28crest%29.svg.png"
                                alt="Avatar"
                                class="escudo"
                            />
                            <span>Barcelona</span>
                        </div>
                    </td>
                    <td>
                        <div class="puntaje">
                            <span class="puntaje-equipo1">1</span> -
                            <span class="puntaje-equipo2">2</span>
                        </div>
                    </td>
                    <td>
                        <div class="equipo">
                            <span>Real Madrid</span>
                            <img
                                mat-card-avatar
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSio-11HoAAZ8E1MjY4T58wPtrb3CKzyh_r1Q&s"
                                alt="Avatar"
                                class="escudo"
                            />
                        </div>
                    </td>
                    <td>
                        <span>Estadio Monumental</span>
                    </td>
                    <td>
                        <span>2024-10-22</span>
                    </td>
                    <td>
                        <span>18:00</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo">
                            <img
                                mat-card-avatar
                                src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/47/FC_Barcelona_%28crest%29.svg/1010px-FC_Barcelona_%28crest%29.svg.png"
                                alt="Avatar"
                                class="escudo"
                            />
                            <span>Barcelona</span>
                        </div>
                    </td>
                    <td>
                        <div class="puntaje">
                            <span class="puntaje-equipo1">1</span> -
                            <span class="puntaje-equipo2">2</span>
                        </div>
                    </td>
                    <td>
                        <div class="equipo">
                            <span>Real Madrid</span>
                            <img
                                mat-card-avatar
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSio-11HoAAZ8E1MjY4T58wPtrb3CKzyh_r1Q&s"
                                alt="Avatar"
                                class="escudo"
                            />
                        </div>
                    </td>
                    <td>
                        <span>Estadio Monumental</span>
                    </td>
                    <td>
                        <span>2024-10-22</span>
                    </td>
                    <td>
                        <span>18:00</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo">
                            <img
                                mat-card-avatar
                                src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/47/FC_Barcelona_%28crest%29.svg/1010px-FC_Barcelona_%28crest%29.svg.png"
                                alt="Avatar"
                                class="escudo"
                            />
                            <span>Barcelona</span>
                        </div>
                    </td>
                    <td>
                        <div class="puntaje">
                            <span class="puntaje-equipo1">1</span> -
                            <span class="puntaje-equipo2">2</span>
                        </div>
                    </td>
                    <td>
                        <div class="equipo">
                            <span>Real Madrid</span>
                            <img
                                mat-card-avatar
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSio-11HoAAZ8E1MjY4T58wPtrb3CKzyh_r1Q&s"
                                alt="Avatar"
                                class="escudo"
                            />
                        </div>
                    </td>
                    <td>
                        <span>Estadio Monumental</span>
                    </td>
                    <td>
                        <span>2024-10-22</span>
                    </td>
                    <td>
                        <span>18:00</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo">
                            <img
                                mat-card-avatar
                                src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/47/FC_Barcelona_%28crest%29.svg/1010px-FC_Barcelona_%28crest%29.svg.png"
                                alt="Avatar"
                                class="escudo"
                            />
                            <span>Barcelona</span>
                        </div>
                    </td>
                    <td>
                        <div class="puntaje">
                            <span class="puntaje-equipo1">1</span> -
                            <span class="puntaje-equipo2">2</span>
                        </div>
                    </td>
                    <td>
                        <div class="equipo">
                            <span>Real Madrid</span>
                            <img
                                mat-card-avatar
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSio-11HoAAZ8E1MjY4T58wPtrb3CKzyh_r1Q&s"
                                alt="Avatar"
                                class="escudo"
                            />
                        </div>
                    </td>
                    <td>
                        <span>Estadio Monumental</span>
                    </td>
                    <td>
                        <span>2024-10-22</span>
                    </td>
                    <td>
                        <span>18:00</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="equipo">
                            <img
                                mat-card-avatar
                                src="https://upload.wikimedia.org/wikipedia/sco/thumb/4/47/FC_Barcelona_%28crest%29.svg/1010px-FC_Barcelona_%28crest%29.svg.png"
                                alt="Avatar"
                                class="escudo"
                            />
                            <span>Barcelona</span>
                        </div>
                    </td>
                    <td>
                        <div class="puntaje">
                            <span class="puntaje-equipo1">1</span> -
                            <span class="puntaje-equipo2">2</span>
                        </div>
                    </td>
                    <td>
                        <div class="equipo">
                            <span>Real Madrid</span>
                            <img
                                mat-card-avatar
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSio-11HoAAZ8E1MjY4T58wPtrb3CKzyh_r1Q&s"
                                alt="Avatar"
                                class="escudo"
                            />
                        </div>
                    </td>
                    <td>
                        <span>Estadio Monumental</span>
                    </td>
                    <td>
                        <span>2024-10-22</span>
                    </td>
                    <td>
                        <span>18:00</span>
                    </td>
                </tr>
            </table>

            <!-- Logotipos de equipos -->
            <div class="logos">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK5NyaUWLL4-sz7sFFZ7-56oPz6AqNRLPM5Q&s" alt="Logo Barcelona" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt2Clvv-flwEiq6PieGqzy3-bPvJH9O5Q67g&s" alt="Logo Real Madrid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxz-JEXZ9Vk-VqZYUq_qFpF6sbNDe3pSIByw&s" alt="Logo Atlético Madrid" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPS1T9f6ni_qcv_7Jir6B7qz2bEVQr1OcTdw&s" alt="Logo Valencia" />
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8H2Y3iQ-V3Ri2yNuF-3TKigXDJ1d2vQVOSw&s" alt="Logo Sevilla" />
            </div>
        </div>
    </body>
</html>
