/* You can add global styles to this file, and also import other style files */

html,
body {
    background-color: #f0f2f5;
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 16px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

footer {
    background-color: #fff; // especifica a color do footer
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1); // adiciona uma sombra
    padding: 16px 0;  // adiciona un padding
    position: fixed; // fija el footer en la parte inferior de la pantalla
    width: 100%; // ocupa todo el ancho de la pantalla
    z-index: 1000; // z-index para que el footer se muestre por encima de otros elementos
    bottom: 0; // fija el footer en la parte inferior de la pantalla
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
