@use '../../../variables.scss' as *;

.breadcrumb-nav {
    padding: 0;
    width: auto;

    .breadcrumb {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        background: $primary;
        border-radius: 5px;
        overflow: hidden;
        background: $font-color-light;

    }

    .breadcrumb li {
        margin: 0;

        &.active {
            font-weight: bold;
            background: $dark-primary;
            padding: 0 20px;
        }
    }

    .breadcrumb li a {
        display: block;
        color: $font-color-light;
        text-decoration: none;
        background: $primary;
        position: relative;
        text-align: center;
        padding: 0 15px;

        &:hover {
            background: $accent;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -10px;
            width: 20px;
            height: 100%;
            background: $primary;
            transform: skewX(-45deg);
            z-index: 1;
        }

        &:hover:after {
            background: $accent;
        }
    }

    .breadcrumb li:last-child a:after {
        content: none;
    }

    .breadcrumb li.active a {
        font-weight: bold;
        background: $dark-primary;
        padding: 0 20px; // Agregar separación adicional para el elemento activo
    }
}
