<nav>
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Avatar">
        <mat-card-title>Usuario</mat-card-title>
        <mat-card-subtitle>Jhon Doe</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>SportBoard</mat-card-title>
        <mat-card-subtitle>Administración</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-selection-list>
            <mat-list-item>
              <a mat-line [routerLink]="['/']">
                <mat-icon mat-list-icon>home</mat-icon>
                Home
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-line [routerLink]="['usuarios']">
                <mat-icon mat-list-icon>people</mat-icon>
                Usuarios
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-line [routerLink]="['competencias']">
                <mat-icon mat-list-icon>emoji_events</mat-icon>
                Competencias
              </a>
            </mat-list-item>
  
            <!-- Calendario con menú desplegable -->
            <mat-list-item>
              <a (click)="toggleCalendarMenu()">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                Calendario
              </a>
            </mat-list-item>
            <div *ngIf="isCalendarMenuOpen">  
              <mat-list-item [routerLink]="['calendario']" class="menu-item">
                <mat-icon mat-list-icon>view_week</mat-icon>
                Calendario
              </mat-list-item>
              <mat-list-item [routerLink]="['calendario/matchable']" class="menu-item">
                  <mat-icon mat-list-icon>date_range</mat-icon>
                  Lista Partidos
              </mat-list-item>
              <mat-list-item [routerLink]="['calendario/sorteo']" class="menu-item">
                  <mat-icon mat-list-icon>view_week</mat-icon>
                  Sorteo
              </mat-list-item>
            </div>
            <mat-list-item>
              <a mat-line [routerLink]="['tiempo-real']">
                <mat-icon mat-list-icon>update</mat-icon>
                Tiempo-real
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-line [routerLink]="['estadisticas']">
                <mat-icon mat-list-icon>bar_chart</mat-icon>
                Estadisticas
              </a>
            </mat-list-item>
          </mat-selection-list>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </nav>  