<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Equipo Local Column -->
  <ng-container matColumnDef="equipoLocal">
    <th mat-header-cell *matHeaderCellDef> Equipo Local </th>
    <td mat-cell *matCellDef="let element"> {{element.equipoLocal}} </td>
  </ng-container>

  <!-- Equipo Visitante Column -->
  <ng-container matColumnDef="equipoVisitante">
    <th mat-header-cell *matHeaderCellDef> Equipo Visitante </th>
    <td mat-cell *matCellDef="let element"> {{element.equipoVisitante}} </td>
  </ng-container>

  <!-- Fecha Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>