<mat-card>
    <mat-card-title>Estadísticas Generales</mat-card-title>
    <mat-card-content>
        <button mat-button [routerLink]="['/estadisticas/equipos']">Estadísticas de Equipos</button>
        <button mat-button [routerLink]="['/estadisticas/jugadores']">Estadísticas de Jugadores</button>
        <button mat-button [routerLink]="['/estadisticas/partidos-proximos']">Partidos Próximos</button>
        <button mat-button [routerLink]="['/estadisticas/resultados']">Resultados</button>
        <button mat-button [routerLink]="['/estadisticas/tabla-posiciones']">Tabla de Posiciones</button>
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>