<h4>Perfiles</h4>
<div class="button-container">
    <button mat-button (click)="navigateToCalendar()" class="custom-button">
        <mat-icon>calendar_today</mat-icon>
        <span>CALENDARIO</span>
    </button>

    <button mat-button (click)="navigateToMatchtable()" class="custom-button">
        <mat-icon>poll</mat-icon>
        <span>PARTIDOS</span>
    </button>
    <button mat-button (click)="navigateToSorteo()" class="custom-button">
        <mat-icon>poll</mat-icon>
        <span>SORTEO</span>
    </button>

</div>





