<div class="results">
    <div *ngFor="let match of results" class="result-card">
        <div class="team">
            <img [src]="match.homeTeamLogo" alt="{{ match.homeTeam }} logo" class="team-logo">
            <span>{{ match.homeTeam }}</span>
        </div>
        <div class="match-info">
            <span>{{ match.date }}</span>
            <span>{{ match.score }}</span>
        </div>
        <div class="team">
            <img [src]="match.awayTeamLogo" alt="{{ match.awayTeam }} logo" class="team-logo">
            <span>{{ match.awayTeam }}</span>
        </div>
    </div>
</div>