<h1>Bombos - Fase Liga</h1>

  <div class="container">
    <div class="bombo">
      <h2>Bombo 1</h2>
      <ul>
        <li>Real Madrid</li>
        <li>Manchester City</li>
        <li>FC Barcelona</li>
        <li>Bayern Munich</li>
        <li>Liverpool</li>
      </ul>
    </div>

    <div class="bombo">
      <h2>Bombo 2</h2>
      <ul>
        <li>Juventus</li>
        <li>Milan</li>
        <li>Aston Villa</li>
        <li>Arsenal</li>
        <li>Brujas</li>
      </ul>
    </div>

    <div class="bombo">
      <h2>Bombo 3</h2>
      <ul>
        <li>PSV</li>
        <li>Celtic</li>
        <li>Lille</li>
        <li>Estrella Roja</li>
        <li>Dinamo</li>
      </ul>
    </div>

    <div class="bombo">
      <h2>Bombo 4</h2>
      <ul>
        <li>Young Boys</li>
        <li>Monaco</li>
        <li>Girona</li>
        <li>Bolonia</li>
        <li>Manchester United</li>
      </ul>
    </div>
  </div>

  <div class="buttons">
    <button class="cancel">Cancelar</button>
    <button class="draw">Sortear</button>
  </div>