<div id="subtitulo">
    <mat-icon mat-list-icon>list</mat-icon>
    <h5>REGLAS</h5>
</div>

<div class="container mt-4">
    <div class="row">

        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-reglas">
                        <mat-card-title>LIGA</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigateToPerfilReglas()" class="view-reglas"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/lol-logo-png/lol-world-championship-liquipedia-league-of-legends-24.png"
                             alt="LIGAS" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>N° Reglas:</strong>30 </p>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <div class="header-reglas">
                        <mat-card-title>TORNEO</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigateToPerfilReglas()" class="view-reglas"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/lol-logo-png/lol-world-championship-liquipedia-league-of-legends-24.png"
                             alt="TORNEO" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                             <p><strong>N° Reglas:</strong>30 </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-reglas">
                        <mat-card-title>ELIMINATORIA</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigateToPerfilReglas()" class="view-reglas"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/lol-logo-png/lol-world-championship-liquipedia-league-of-legends-24.png"
                             alt="ELIMINATORIA" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>N° Reglas:</strong>30 </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>



