<h4>Perfiles</h4>
<div class="button-container">
    <button mat-button (click)="navigateToCalendario()" class="custom-button">
        <mat-icon>group</mat-icon>
        <span>Gestión de Equipos</span>
    </button>

    <button mat-button (click)="navigateToTiempoReal()" class="custom-button">
        <mat-icon>person</mat-icon>
        <span>Gestión de Jugadores</span>
    </button>

    <button mat-button (click)="['/gestion-competencias']" class="custom-button">
        <mat-icon>group</mat-icon>
        <span>Gestión de Competencias</span>
    </button>
</div>

