<h4>Perfiles</h4>
<div class="button-container">
    <button mat-button (click)="navigateToPerfilEquipo()" class="custom-button">
        <mat-icon>group</mat-icon>
        <span>Gestión de Equipos</span>
    </button>

    <button mat-button (click)="navigateToPerfilJugador()" class="custom-button">
        <mat-icon>person</mat-icon>
        <span>Gestión de Jugadores</span>
    </button>
    
    <button mat-button (click)="navigateToGestionCompetencia()" class="custom-button">
        <mat-icon>group</mat-icon>
        <span>Gestión de Competencias</span>
    </button>

</div>


