<div id="subtitulo">
    <mat-icon mat-list-icon>list</mat-icon>
    <h5>Competencias</h5>
</div>

<div class="container mt-4">
    <div class="row">

        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-competencia">
                        <mat-card-title>Liga</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilCompetencia()" class="view-competencia"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://www.freepnglogos.com/uploads/lion-logo-png/king-emblem-lion-image-png-9.png"
                             alt="LIGA" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>Fecha De Inicio:</strong>  28/04/2024</p>
                            <p><strong>Fecha De Finalización:</strong> 28/04/2025</p>
                            <p><strong>N° Equipos:</strong> 28</p>
                        </div>
                    </div>
                </mat-card-content>

            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <div class="header-competencia">
                        <mat-card-title>Torneo</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilCompetencia()" class="view-competencia"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://static.vecteezy.com/system/resources/previews/010/994/246/non_2x/champions-league-logo-symbol-black-design-football-european-countries-football-teams-illustration-with-white-background-free-vector.jpg"
                             alt="TORNEO" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> Sí</p>
                            <p><strong>Fecha De Inicio:</strong>  10/03/2024</p>
                            <p><strong>Fecha De Finalización:</strong> 25/05/2025</p>
                            <p><strong>N° Equipos:</strong> 30</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col-md-4 mb-4">
            <mat-card>
                <mat-card-header>
                    <div class="header-competencia">
                        <mat-card-title>Eliminatoria</mat-card-title>
                        <div>
                            <a href="#" (click)="confirmarEliminar($event)"> <mat-icon mat-list-icon>delete</mat-icon> </a>
                            <a (click)="navigatePerfilCompetencia()" class="view-competencia"> <mat-icon mat-list-icon>remove_red_eye</mat-icon> </a>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <img src="https://cdn.conmebol.com/wp-content/uploads/2017/02/conmebol-sudamericana.png"
                             alt="ELIMINATORIA" class="me-3" width="80" height="80" />
                        <div class="card-body">
                            <p><strong>Activo:</strong> No</p>
                            <p><strong>Fecha De Inicio:</strong>  10/03/2024</p>
                            <p><strong>Fecha De Finalización:</strong> 28/10/2025</p>
                            <p><strong>N° Equipos:</strong> 16</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>



    </div>
</div>

