.admin-competencias {
  font-family: 'Space Grotesk', sans-serif;
  color: #202229;

  h1 {
    text-align: left;
    color: #4d623a;
  }

  .actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;

    button {
      color: #202229;
      background-color: #b9ff66;
      /* Color actualizado */
      border: none;
      border-bottom: 4px solid #4d623a;
      display: flex;
      align-items: center;
      gap: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;

      &:disabled {
        background-color: #ffffff;
        color: #cccccc;
        cursor: not-allowed;
        box-shadow: none;
      }
    }

    button:hover {
      background-color: #a8eb5f;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
    }

    mat-icon {
      font-size: 20px;
    }
  }

  table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    tr:hover {
      background-color: #f5f5f5;
    }
  }

  th,
  td {
    color: #202229;
    border-bottom: 1px solid #898989;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}