<h2 mat-dialog-title>{{ data.action === 'create' ? 'Create Competence' : 'Edit Competence' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>description</mat-icon>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-divider></mat-divider>

    <div class="file-drop-area" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)" (click)="fileInput.click()">
      <input type="file" (change)="onFileChange($event)" hidden #fileInput>
      <img src="assets/img/cloud_upload_150dp_E8EAED_FILL0_wght400_GRAD0_opsz48.svg" alt="Upload Icon" class="upload-icon">
      <ng-container *ngIf="!fileName">
        <p>Drag and drop a file here or click to select a file</p>
      </ng-container>
      <ng-container *ngIf="fileName">
        <div class="file-preview">
          <mat-icon>{{ fileIcon }}</mat-icon>
          <span>{{ fileName }}</span>
          <button mat-icon-button (click)="removeFile()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    <mat-icon>save</mat-icon> Save
  </button>
</mat-dialog-actions>