<h1>{{ data.action === 'create' ? 'Crear Competencia' : data.action === 'edit' ? 'Editar Competencia' : 'Eliminar Competencia' }}</h1>
<form [formGroup]="competenceForm" (ngSubmit)="submit()">
  <mat-form-field *ngIf="data.action !== 'delete'">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <mat-form-field *ngIf="data.action !== 'delete'">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>

  <div *ngIf="data.action !== 'delete'">
    <label for="logo">Logo</label>
    <input id="logo" type="file" (change)="onFileChange($event)" required>
  </div>

  <button mat-raised-button type="submit" [disabled]="!competenceForm.valid && data.action !== 'delete'">
    {{ data.action === 'create' ? 'Crear' : data.action === 'edit' ? 'Guardar' : 'Eliminar' }}
  </button>
  <button mat-button type="button" (click)="close()">Cancelar</button>
</form>
