.win-icon {
    color: green;
  }
  
  .no-win-icon {
    color: red;
  }
  
  .draw-icon {
    color: orange;
  }
  
  .no-draw-icon {
    color: red;
  }
  
  .lose-icon {
    color: red;
  }
  
  .no-lose-icon {
    color: green;
  }