<h2 style="text-align: center;">Estadistica de Equipo</h2>
<table>
    <tr>
        <th>Quinto</th>
        <th></th>
        <th>Sexto</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Goles</td>
        <td>0</td>
    </tr>
    <tr>
        <td>0</td>
        <td>Tarjetas Amarillas</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>Tarjetas Rojas</td>
        <td>0</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tiros de Esquina</td>
        <td>2</td>
    </tr>
</table>